body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

main{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 28em;
    background-color: white;
    border-radius: 15px;
}

h1{
    font-size: 1.2em;
    margin: 1em 1.5em 0.7em 1.5em;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
img{
    width: 16em;
    border-radius: 15px;
    margin-top: 13px;
}

p{
    font-size: 13px;
    font-weight: 400;
    margin: 0 1.7em;
    text-align: center;
    color: hsl(220, 15%, 55%);
}

@media(max-width: 1830px){
    main{
        width: 275px;
    }
}